<div class="container">
  <div class="cart left-container">
    <table>
      <tr>
        <th>PRODUCT</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>TOTAL</th>
      </tr>
      <tr *ngFor="let item of cart" class="cart-item">
        <td>
          <img class="delete-icon" src="assets/images/delete.png" alt="delete" (click)="removeFromCart(item)">
          {{ item.name }}
        </td>
        <td>$ {{ item.price }}</td>
        <td>
          <button class="inc-button" (click)="decQuantity(item)">-</button>
          <input min="1" [(ngModel)]="item.quantity">
          <button class="inc-button" (click)="doubleClickIncrease(item)">+</button>
        </td>
        <td>{{item.price * item.quantity | indianCurrency}} </td>
      </tr>


    </table>
    <div class="empty-message" *ngIf="cart.length === 0">
      <p>THERE ARE NO PRODUCTS</p>
    </div>

    <div class="bottom-section">
      <table class="calculation-table">
        <tr>
          <th>Sub Total</th>
          <td>{{getTotalAmount() | indianCurrency}}</td>
          <td class="right-alignment">{{getTotalQuantity()}} Items</td>

        </tr>


        <tr>
          <th>VAT Tax (%)</th>
          <td><input min="0" (input)="updateVAT($event)"></td>
          <td class="right-alignment">{{ getVATAmount() | indianCurrency}}</td>
        </tr>
        <tr>
          <th>Discount (%)</th>
          <td><input min="0" (input)="updateDiscount($event)"></td>
          <td class="right-alignment">{{ getDiscountAmount() | indianCurrency}}</td>
        </tr>
        <tr>
          <th>TOTAL</th>
          <td colspan="2">{{ getGrandTotal() | indianCurrency}}</td>
        </tr>
      </table>

      <div class="action-button">
        <button class="color-success" (click)="clearCart()">CANCEL SALE</button>
        <button class="color-danger" (click)="sale()">PROCESS SALE</button>
      </div>
    </div>
  </div>

  <div class="products right-container">
    <div *ngFor="let product of productList" class="product" (click)="addToCart(product)"
      (dblclick)="doubleClickIncrease(product)">
      <div class="image-container">
        <img [src]="product.image" alt="{{ product.name }}">
        <label for="produc">{{ product.name }}</label>
        <p class="description">{{ product.description }}</p>
      </div>
    </div>
  </div>


</div>


<!-- modal code  start -->

<div id="myModal" class="modal" *ngIf="modalFlag">

  <div class="modal-content">
    <div class="receipt-header">
      <h4>Receipt</h4>
    </div>
    <div class="receipt">

      <h4 class="sale-number">Sale No. {{ getSaleNumber() }}</h4>
      <p>Date:{{ getCurrentDate() }}</p>


      <table>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let item of cart; let index = index">
          <td>{{ index + 1}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td class="right-alignment">{{ item.quantity }}</td>
        </tr>
        <tr>
          <td>Total Items</td>
          <td>{{getTotalQuantity()}}</td>
          <td>Total</td>
          <th class="right-alignment">{{getTotalAmount() | indianCurrency}}</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Discount</td>
          <th class="right-alignment">{{ getDiscountAmount() | indianCurrency}}</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>VAT</td>
          <th class="right-alignment">{{ getVATAmount() | indianCurrency}}</th>
        </tr>
        <tr>
          <td></td>
          <th>Grand total</th>
          <td></td>
          <th class="right-alignment">{{ getGrandTotal() | indianCurrency}}</th>
        </tr>
      </table>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>

</div>

<!-- modal code  end -->

<router-outlet></router-outlet>